div.kotak1 {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    margin: 60px auto;
}
div.kotak2 {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: -130px 100px 0px 430px;
}
div.kotak3 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: -40px 0px 0px 580px;
}
div.kotak4 {
    width: 200px;
    height: 200px;
    background-color: indigo;
    margin: -360px 100px 0px 730px;
}