.box {
  background-color: dodgerblue;
  width: 200px;
  height: 200px;
  transition: 2s;
  margin: 200px auto;
}

.box:hover {
  transform: scale(2) rotatex(200deg) rotateY(200deg) skewY(200deg) skewX(200deg);
}